<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="strGame" providerName="System.Data.SqlClient"
			 connectionString="SERVER=sql.bsite.net\MSSQL2016; USER=hoangvan_mydb; PASSWORD=HoangVan.65; DATABASE=hoangvan_mydb"/>
	</connectionStrings>
</configuration>